:root {
    --uek-blue: #B0C5CE;
    --uek-middle-light-blue: #E7EDEF;
    --uek-light-blue: #FCFDFD;
    --uek-dark-blue: #799BAA;
}


html {
    /*backgrsound-color: white;*/
}

body {
    padding-top: 72px;
}

nav.navbar {
    background-color: var(--uek-light-blue);
    border-bottom: 1px solid var(--uek-blue);
    /*height: 72px;*/
}

.navbar-brand {
    height: 53px;
}

.search-institution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
}

.selected-institution {
    display: none;
}

.selected-institution span {
    color: var(--uek-dark-blue);
}

.selected-institution span:nth-child(2) {
    font-weight: bold;
}

.selected-institution span:last-child {
    color: #EF9D79;
    cursor: pointer;
}

.main {}

.list-container {
    border-right: 1px solid var(--uek-blue);
    height: calc(100vh - 72px);
    overflow: scroll;
}

.details-container {
    height: calc(100vh - 72px);
    overflow: scroll;
}

.item {
    border-bottom: 1px solid var(--uek-blue);
    border-left: 0 solid var(--uek-blue);
    -webkit-transition: border-left .5s ease;
    transition: border-left .5s ease;
    cursor: pointer;
}

.item:hover {
    border-bottom: 1px solid var(--uek-blue);
    background-color: var(--uek-light-blue);
}

.item.active {
    border-left: 1rem solid var(--uek-blue);
    background-color: #F3F7F8;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.label {
    -ms-flex-preferred-size: 0.25%;
        flex-basis: 0.25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    padding-right: 1rem;
    font-size: 8px;
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 2rem;
}

.value {
    -ms-flex-preferred-size: 0.75%;
        flex-basis: 0.75%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    font-size: 0.83rem;
    line-height: 2rem;
}

.surveyes .value span {
    margin-right: 0.5rem;
    border-radius: 3px;
    padding: 0.1rem 0.4rem;
    color: var(--uek-dark-blue);
    font-weight: bold;
}

.surveyes .value span.off {
    opacity: .3;
    cursor: not-allowed;
    position: relative;
}

.surveyes .value span.off::after {
    position: absolute;
    content: '';
    border-top: 2px solid var(--uek-dark-blue);
    width: 90%;
    left: 5%;
    top: 12px;
}

.how-to {
	color: var(--uek-dark-blue);
}

.map > div {
    width: 100%;
    /*background-color: LEMONCHIFFON;*/
    height: 40vh;
    border-bottom: 1px solid var(--uek-blue);
}

.section-title {
    font-size: 0.5rem;
    color: var(--uek-dark-blue);
    line-height: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.values {
	padding-bottom: 0.5rem;
}

.values div:first-child {
    font-size: 0.5rem;
    line-height: 1.3rem;
    text-align: right;
}

.values div:last-child {
    font-size: 0.83rem;
    line-height: 1rem;
    text-align: left;
}

#about a {
    font-family: 'Brandon Grotesque', sans-serif;
    text-decoration: underline;
}

.about-btn {
    height: 45px;
    text-align: center;
    margin-bottom: 2rem;
    padding: 8px 0;
    background-color: #81AA91;
    border-radius: 22px;
}
.about-btn a {
    color: #212529;
    padding: 9px 72px;
}
