/* Import Fonts */

@import '../fonts/Brandon_reg-export/Brandon_reg.css';
@import '../fonts/Brandon_reg_it-export/Brandon_reg_it.css';

/*@import '../fonts/Brandon_med-export/Brandon_med.css';
@import '../fonts/Brandon_med_it-export/Brandon_med_it.css';*/

@import '../fonts/Brandon_bld-export/Brandon_bld.css';
@import '../fonts/Brandon_bld_it-export/Brandon_bld_it.css';


/* General for all viz */

html {
    background-color: rgba(176, 197, 206, 0.07);
    font-size: 18px;
    line-height: 1.55rem;
}

body {
    position: relative;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
    right: 0;
    font-family: 'Brandon Grotesque', sans-serif;
    -webkit-box-shadow: 0px 0px 5px #B0C5CE;
            box-shadow: 0px 0px 5px #B0C5CE;
}

body.sidebar-open {
    right: 25%;
}

h1 {}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bold;
    margin-bottom: 1.3rem;
    margin-top: 12rem;
}

h3 {
    font-size: 1.33rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.90);
    letter-spacing: 0;
    line-height: 1.55rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
}

p.caption {
    font-size: 0.62rem;
    margin-bottom: 0.62rem;
    color: #4a4a4a;
}

p.caption:first-child {
    margin-top: 0.37rem;
    color: #333333;
}

.open-in-external-window {
    display: none;
}

.legend {
    font-size: 0.62rem;
    margin-bottom: 0.62rem;
    margin-top: 0.37rem;
    color: #333333;
    position: relative;
}

.legend > span {
    text-transform: capitalize;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0.62rem;
}

.legend .color-square {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
}
.legend > span:first-child >.color-square {
    border: 1px solid #999;
}

.label {
    font-size: .65rem;
    pointer-events: none;
    opacity: 1;
    text-transform: capitalize;
    /*fill: #333;*/
}

.label.hidden {
    opacity: 0;
}

.btn-secondary {
    cursor: pointer;
}

.chapter {
    margin-bottom: 60px;
}





/* Cover */

.cover {
    height: 100vh;
    background-color: #81AA91;
}

.report-title {
    font-size: 3rem;
}

/* Sidepanel */
.sidepanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    pointer-events: none;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}
.sidepanel-open {
    width: 25vw;
    pointer-events: auto;
}
.sidepanel .close {
    margin-right: 12px;
    margin-top: 6px;
    cursor: pointer;
}
.sidepanel-container {
    width: 25vw;
    padding: 1.2em;
    opacity: 0;
}
.sidepanel-data {
    color: #B0C5CE;
    font-size: 0.65em;
    text-transform: uppercase;
}
.sidepanel-name {
    font-size: 1.1em;
    font-weight: bold;
}
.sidepanel p {
    font-size: 0.9em;
    margin-bottom: 12px;
}



/* 1.1 timeline */

#timeline {
    background: rgba(176, 197, 206, 0.07);
    border-top: 1px solid #B0C5CE;
    border-bottom: 1px solid #B0C5CE;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.timeline-viz {
    width: 100%;
    height: auto;
}

.timeline-viz text {
    font-size: 10px;
}

.baseline {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
}

.baseline-dashed {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
    stroke-dasharray: 4.6, 4.6;
}

.baseline-dot {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
}

.events-dot {
    fill: #FF8E66;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
}

.laws-dot {
    fill: #6699FF;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
}

.survey-dot {
    fill: #B6EA78;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-miterlimit: 10px;
}





/* 1.2 mosaic plot and sankey */

#sankey {
    padding: 4rem 0 6rem;
}

#sankey svg {
    /*background-color: #fafafa;*/
}

#sankey .nodes rect {
    stroke: none;
}

#sankey .nodes text {}

#sankey .links path {
    fill: none;
    opacity: .3;
    /*cursor: pointer;*/
}

#sankey .links path:hover {
    opacity: .6 !important;
}






/* 1.3 bubblechart - purpose of institutions */

#bubblechart {
    border-top: 1px solid #CFB76D;
    border-bottom: 1px solid #CFB76D;
    background: rgba(207, 183, 109, 0.05);
    margin-bottom: 1rem;
}

#bubblechart svg {
    /*background-color: #eee;*/
    /*padding: 2rem 0;*/
}

#bubblechart circle.node {
    stroke: #074050;
    stroke-width: .5px;
    cursor: pointer;
    /*display: none;*/
}

#bubblechart .legend g {
    cursor: pointer;
}

#bubblechart .legend g:first-child {
    font-weight: 600;
}

#bubblechart .legend g .label {
    pointer-events: all;
}

#bubblechart .year.selected {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
}

#bubblechart .legend g:first-child circle {
    display: none;
}

/* 1.4 typologies network of correlations */

#typologies-graph circle.node {
    stroke-width: .5px;
    cursor: pointer;
    /*fill: #105965;*/
    /*opacity: .2;*/
}

#typologies-graph line.link {
    stroke: #ccc;
    /*stroke-width: 1px;*/
    opacity: .5;
    cursor: pointer;
}

#typologies-graph .label {
    text-anchor: middle;
}





/* STYLES CHAPTER 2 */


/* container styles */

#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step {
    margin-bottom: 700px;
}

.step:last-of-type {
    height: 84vh;
    margin-bottom: 0;
}

#maps {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 100%;
    height: 84vh;
}






/* swiss map styles */

.swiss-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}

.canton-contour {
    fill: #ffffff;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
}






/* map_all_institutions styles */

.dot {
    fill: #105965;
    stroke-width: 0.5px;
    stroke: #ffffff;
    cursor: pointer;
}

.item-text {
    font-size: .65rem;
}





/* map_typologies styles */

.maps-container {
    position: absolute;
    pointer-events: none;
}

.maps-label {
    font-size: .65rem;
    cursor: pointer;
}

.map-background {
    fill: none;
    pointer-events: all;
}



/* STYLES CHAPTER 3 */


/* matrix */

.dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.select-container {
    margin: 10px 10px 10px 0;
}

.select-container select {
    cursor: pointer;
}

#matrix text {
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: .65rem;
}

.axis-x text {
    text-anchor: end;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    stroke-dasharray: 8;
}

.grid path {
    stroke-width: 0;
}

.bubble {
    stroke: #000;
    stroke-width: 1px;
    fill: #007bff;
}





/* STYLES CHAPTER 4 */


/* typologies network of correlations */

#circular-network .node {
    stroke-width: .5px;
    cursor: pointer;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}


#circular-network .link {
    fill: none;
    opacity: .5;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#circular-network .label {
    text-anchor: middle;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#accepting-institutions .canton-contour {
    /*fill: #EEE5CA;*/
    shape-rendering: geometricPrecision;
    /*stroke: #fff;*/
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: fill 0.5s ease, opacity 0.5s ease;
    transition: fill 0.5s ease, opacity 0.5s ease;
}





/*#accepting-institutions .canton-contour:hover {
    opacity: 1;
}*/


/*#accepting-institutions .canton-contour.sending {
    fill: green;
}

#accepting-institutions .canton-contour.receiving {
    fill: red;
}*/

#accepting-institutions .canton-contour.faded {
    opacity: .5;
}

#accepting-institutions .label.faded {
    opacity: .35
}

#accepting-institutions .node {
    /*stroke: #666;*/
    fill: #333;
}

#accepting-institutions .nodeLabel {
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    font-size: .65rem;
    font-weight: bold;
}
