/* General for all viz */

.label {
	font-size: .65rem;
	pointer-events: none;
	opacity: 1;
	fill: #333;
}

.label.hidden {
	opacity: 0;
}

/* 1.3 bubblechart - purpose of institutions */
#bubblechart svg {
}

circle.node {
	stroke: #074050;
	stroke-width: .5px;
	cursor: pointer;
}

/* style chapter 2 */
#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.step {
    margin-bottom: 200px;
}
.step:last-of-type {
    height: 84vh;
    margin-bottom: 0;
}
.visualization-map {
	position: relative;
	width: 100%;
}
#maps {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
    width: 100%;
    height: 84vh;
    background-color: #ddd;
}
