/* General for all viz */

.label {
    font-size: .65rem;
    pointer-events: none;
    opacity: 1;
    fill: #333;
}

.label.hidden {
    opacity: 0;
}

.btn-secondary {
	cursor: pointer;
}

.chapter {margin-bottom: 60px;}

/* 1.3 bubblechart - purpose of institutions */

#bubblechart svg {}

#bubblechart circle.node {
    stroke: #074050;
    stroke-width: .5px;
    cursor: pointer;
}


/* 1.4 typologies network of correlations */

#typologies-graph circle.node {
    stroke-width: .5px;
    cursor: pointer;
    fill: #105965;
    /*opacity: .2;*/
}

line.link {
    stroke: #4c9b82;
    stroke-width: 1px;
    opacity: .5
}

#typologies-graph .label {
    text-anchor: middle;
}

/* STYLES CHAPTER 2 */


/* container styles */

#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step {
    margin-bottom: 700px;
}

.step:last-of-type {
    height: 84vh;
    margin-bottom: 0;
}

#maps {

	position: -webkit-sticky;
	position: sticky;
	top: 80px;
    width: 100%;
    height: 84vh;
}


/* swiss map styles */

.swiss-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}

.canton-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}


/* map_all_institutions styles */

.dot {
    fill: #105965;
    stroke-width: 0.5px;
    stroke: #ffffff;
    cursor: pointer;
}

.item-text {
	font-size: .65rem;
}

/* map_typologies styles */

.maps-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
}

.maps-label {
    font-size: .65rem;
}

/* STYLES CHAPTER 3 */

/* matrix */
.dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.select-container {
    margin: 10px 10px 10px 0;
}
.select-container select{
    cursor: pointer;
}

#matrix text {
    font-size: .65rem;
}

.axis-x text {
    text-anchor: end;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  stroke-dasharray: 8;
}

.grid path {
  stroke-width: 0;
}

.bubble {
    stroke: #000;
    stroke-width: 1px;
    fill: #007bff;
}
