/* General for all viz */

html {
    background-color: #B0C5CE;
}

body {
    position: relative;
    transition: right 0.5s ease;
    right: 0;
}

body.sidebar-open {
    right: 25%;
}

.label {
    font-size: .65rem;
    pointer-events: none;
    opacity: 1;
    /*fill: #333;*/
}

.label.hidden {
    opacity: 0;
}

.btn-secondary {
	cursor: pointer;
}

.chapter {margin-bottom: 60px;}

/* Cover */
.cover {
    height: 100vh;
    background-color: #81AA91;
}
.report-title {
    font-size: 3rem;
}

/* 1.1 timeline */
.timeline-viz {
    width: 100%;
    height: auto;
}
.timeline-viz text {
	font-size: 10px;
}
.baseline {
	fill: none;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
}
.baseline-dashed {
	fill: none;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
	stroke-dasharray: 4.6,4.6;
}
.baseline-dot {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
}
.events-dot {
	fill: #FF8E66;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
}
.laws-dot {
	fill: #6699FF;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
}
.survey-dot {
	fill: #B6EA78;
	stroke: #000000;
	stroke-width: 0.5px;
	stroke-miterlimit: 10px;
}

/* 1.2 mosaic plot and sankey */

#sankey {

}

#sankey svg{
    /*background-color: #ccc*/
}

#sankey .nodes rect {
    stroke: none;
}
#sankey .nodes text {

}

#sankey .links path{
    fill: none;
    opacity: .3;
    /*cursor: pointer;*/
}

#sankey .links path:hover{
    opacity: .6 !important;
}


/* 1.3 bubblechart - purpose of institutions */

#bubblechart svg {}

#bubblechart circle.node {
    stroke: #074050;
    stroke-width: .5px;
    cursor: pointer;
}


/* 1.4 typologies network of correlations */

#typologies-graph circle.node {
    stroke-width: .5px;
    cursor: pointer;
    /*fill: #105965;*/
    /*opacity: .2;*/
}

#typologies-graph line.link {
    stroke: #ccc;
    /*stroke-width: 1px;*/
    opacity: .5;
    cursor: pointer;
}

#typologies-graph .label {
    text-anchor: middle;
}

/* STYLES CHAPTER 2 */


/* container styles */

#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step {
    margin-bottom: 700px;
}

.step:last-of-type {
    height: 84vh;
    margin-bottom: 0;
}

#maps {
	position: -webkit-sticky;
	position: sticky;
	top: 80px;
    width: 100%;
    height: 84vh;
}


/* swiss map styles */

.swiss-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}

.canton-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}


/* map_all_institutions styles */

.dot {
    fill: #105965;
    stroke-width: 0.5px;
    stroke: #ffffff;
    cursor: pointer;
}

.item-text {
	font-size: .65rem;
}

/* map_typologies styles */

.maps-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
}

.maps-label {
    font-size: .65rem;
}

/* STYLES CHAPTER 3 */

/* matrix */
.dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.select-container {
    margin: 10px 10px 10px 0;
}
.select-container select{
    cursor: pointer;
}

#matrix text {
    font-size: .65rem;
}

.axis-x text {
    text-anchor: end;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  stroke-dasharray: 8;
}

.grid path {
  stroke-width: 0;
}

.bubble {
    stroke: #000;
    stroke-width: 1px;
    fill: #007bff;
}

/* STYLES CHAPTER 4 */

/* typologies network of correlations */

#circular-network .node {
    stroke-width: .5px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

#circular-network .link {
    fill: none;
    opacity: .5;
    transition: opacity 0.5s ease;
}

#circular-network .label {
    text-anchor: middle;
    transition: opacity 0.5s ease;
}


#accepting-institutions .canton-contour {
    /*fill: #eee;*/
    shape-rendering: geometricPrecision;
    stroke: #333;
    stroke-width: .5px;
    pointer-events: auto;
    opacity: .8;
}