/* Import Fonts */

@import '../fonts/Brandon_reg-export/Brandon_reg.css';
/* @import '../fonts/Brandon_reg_it-export/Brandon_reg_it.css'; */
@import '../fonts/Brandon_bld-export/Brandon_bld.css';
/* @import '../fonts/Brandon_bld_it-export/Brandon_bld_it.css'; */
/* unicode-range: U+000-5FF; /* Latin glyphs */

/* @font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon_reg-export/Brandon_reg.woff2") format("woff2"),
         url("../fonts/Brandon_reg-export/Brandon_reg.woff") format("woff"),
         url("../fonts/Brandon_reg-export/Brandon_reg.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+000-5FF;
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/Brandon_bld-export/Brandon_bld.woff2") format("woff2"),
         url("../fonts/Brandon_bld-export/Brandon_bld.woff") format("woff"),
         url("../fonts/Brandon_bld-export/Brandon_bld.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
    unicode-range: U+000-5FF;
} */

/* @-webkit-keyframes loadSwiss {
    0% {
        stroke-dashoffset: 1467;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1467;
    }
}

@keyframes loadSwiss {
    0% {
        stroke-dashoffset: 1467;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1467;
    }
} */

@-webkit-keyframes loadSwiss {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loadSwiss {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --uek-blue: #B0C5CE;
    --uek-middle-light-blue: #E7EDEF;
    --uek-light-blue: #FCFDFD;
    --uek-dark-blue: #799BAA;
    --glossary-nav-heigth: 134px;
}


/* General for all viz */

html {
    background-color: rgba(176, 197, 206, 0.1);
    font-size: 18px;
    line-height: 1.55rem;
}

::-moz-selection {
    background: rgba(129, 170, 145, 0.4);
}

::selection {
    background: rgba(129, 170, 145, 0.4);
}

body {
    position: relative;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
    right: 0;
    font-family: 'Brandon Grotesque', sans-serif;
    -webkit-box-shadow: 0px 0px 5px #B0C5CE;
            box-shadow: 0px 0px 5px #B0C5CE;
    color: #2f3236;
}

body.sidebar-open {
    right: 25%;
}

a {
    color: #81AA91;
    -webkit-transition: ease .3s;
    transition: ease .3s;
}

a:hover {
    color: #81AA91;
    text-decoration: none;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 5rem;
    margin-top: 5.5rem;
}

h3 {
    font-size: 1.33rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.90);
    letter-spacing: 0;
    line-height: 1.55rem;
    text-transform: uppercase;
}

hr {
    border: 0.5px solid rgba(0,0,0,.4);
    width: 66%;
}
hr:before {
    content:'***';
    background: white;
    font-weight: 400;
    padding: 0 5px;
    font-size: 1.5em;
    position: relative;
    left: 47%;
    bottom: 14px;
    color: rgba(0,0,0,.4);
    text-align: center;
}

p {
    margin-bottom: 1rem;
    font-family: "Brandon Grotesque", sans-serif;
}
aside p {
    font-family: "Brandon Grotesque", sans-serif;
}

p.caption {
    font-family: "Brandon Grotesque", sans-serif;
    font-size: 0.8rem;
    color: #4a4a4a;
}

p.caption:first-child {
    color: #333333;
}

.initial-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #81AA91;
    z-index: 9999;
}

.initial-loader div {
    width: 50vw;
}

.initial-loader svg {
    width: 50vw;
    fill: none;
    stroke: #FAFBFC;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* stroke-dasharray: 1467; */
    -webkit-animation: 5s cubic-bezier(.5,0,.7,1) 1s infinite loadSwiss;
            animation: 5s cubic-bezier(.5,0,.7,1) 1s infinite loadSwiss;
}

.initial-loader p {
    width: 50vw;
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #FAFBFC;
    -webkit-animation: 5s cubic-bezier(.5,0,.7,1) 1s infinite loadSwiss;
            animation: 5s cubic-bezier(.5,0,.7,1) 1s infinite loadSwiss;
}

.open-in-external-window {
    display: none;
}

.legend {
    font-size: 0.62rem;
    color: #333333;
    position: relative;
}

.legend > span {
    text-transform: capitalize;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0.62rem;
}

.legend .color-square {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
}
.legend > span:first-child >.color-square {
    border: 1px solid #999;
}

.label {
    font-size: .65rem;
    pointer-events: none;
    opacity: 1;
    text-transform: capitalize;
}

.label.hidden {
    opacity: 0;
}

.btn-secondary {
    width: 70px;
    background-color: rgba(176, 197, 206, 0.07);
    border-radius: 28px;
    font-size: 0.8rem;
    color: #000000;
    padding: .2rem .5rem;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: #81AA91;
}

.btn-secondary:not([disabled]):not(.disabled).active {
    background-color: #81AA91;
    -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.underlined {
    text-decoration: none;
    color: rgba(0,0,0,.7);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.underlined:hover {
    color: #81AA91;
}

.link-spaced {
    margin-right: 8px;
}

.subchapter-spacer {
    height: 40px;
}

.interaction-note p {
    position: relative;
    margin: 0;
    font-family: 'Brandon Grotesque', sans-serif;
    font-weight: 600;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.interaction-note p:hover {
    opacity: 1;
}

/* Cover */

.cover {
    height: 100vh;
    background-color: #81AA91;
}

.report-title {
    font-size: 3rem;
}

/* Navigation */
#navigation-sidebar {
    color: #000;
    position: fixed;
    top: 62vh;
    left: 0;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    z-index: 2000;
}

.nav-divider {
    width: 3px;
    height: 15px;
    background-color: #666666;
    border-radius: 2px;
}

#navigation-sidebar .nav-link {
    padding: 0 0.5rem 0 0.3rem;
    color: #000;
    height: 20px;
    opacity: 1;
    overflow-x: hidden;
    -webkit-transition: width 0.5s ease, opacity 0.5s ease 0.2s;
            transition: width 0.5s ease, opacity 0.5s ease 0.2s;
}

#navigation-sidebar .nav-link h6 {
    font-weight: 400;
}

.link-container {
    position: relative;
}

.link-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 15px;
    background-color: #666666;
    border-radius: 2px;
    pointer-events: none;
}

.link-container:first-of-type::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 3px;
    height: 15px;
    background-color: #666666;
    border-radius: 2px;
}

.link-introduction,
#navigation-sidebar .nav-link.link-introduction:hover,
.link-introduction h6 {
    width: 123px;
    opacity: 1;
}
.link-geographies,
#navigation-sidebar .nav-link.link-geographies:hover,
.link-geographies h6 {
    width: 208px;
    opacity: 1;
}
.link-interconnections,
#navigation-sidebar .nav-link.link-interconnections:hover,
.link-interconnections h6 {
    width: 160px;
    opacity: 1;
}
.link-entering-exiting,
#navigation-sidebar .nav-link.link-entering-exiting:hover,
.link-entering-exiting h6 {
    width: 202px;
    opacity: 1;
}

#navigation-sidebar .nav-link:not(.active) {
    width: 0;
    opacity: 0;
}

#navigation-sidebar h6 {
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#navigation-sidebar p {
    position: absolute;
    top: 12px;
    left: 0.3rem;
    width: 200px;
    margin: 0;
    font-size: 0.8rem;
}

#navigation-sidebar .nav {
    display: block;
}

#navigation-sidebar .subnav a,
#navigation-sidebar .subnav p,
#navigation-sidebar .subnav,
#navigation-sidebar .link-container {
    pointer-events: none;
}

#navigation-sidebar .link-container > .nav-link {
    pointer-events: auto;
}

#navigation-sidebar .subnav a:not(.active),
#navigation-sidebar .subnav a:not(.active) p{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
}

#navigation-sidebar .subnav .active,
#navigation-sidebar .subnav .active p {
    opacity: 1;
}

/* Sidepanel */
.sidepanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    pointer-events: none;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}
.sidepanel-open {
    width: 25vw;
    pointer-events: auto;
}
.sidepanel .close {
    margin-right: 12px;
    margin-top: 6px;
    cursor: pointer;
}
.sidepanel-container {
    width: 25vw;
    padding: 1.2rem;
    padding-top: 2rem;
    opacity: 0;
}
.sidepanel-data {
    color: var(--uek-dark-blue);
    font-size: 0.65rem;
    text-transform: uppercase;
}
.sidepanel-name {
    font-size: 1.1rem;
    font-weight: 600;
}
.sidepanel-support-title {
    margin-bottom: 20px;
    color: #B0C5CE;
    font-size: 0.75rem;
}
.sidepanel p {
    font-size: 0.83em;
    margin-bottom: 12px;
}
.sidepanel p:first-of-type {
    margin-bottom: 1.5rem;
}
.sidepanel-list-item a {
    color: #000000
}
.sidepanel-button {
    width: 90%;
    height: 45px;
    margin: 26px auto;
    text-align: center;
    padding: 8px 0;
    background-color: #B0C5CE;
    border-radius: 22px;
    cursor: pointer;
}
.sidepanel-button a,
.sidepanel-button a:hover,
.sidepanel-button a:focus {
    color: #000000;
    text-decoration: none;
}

.sidepanel .section-title {
    font-size: 0.5rem;
    color: var(--uek-dark-blue);
    line-height: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: .5rem;
}


/* 1.1 timeline */

#timeline {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    background: #FAFBFC;
    border: 1px solid #B0C5CE;
    border-bottom: 1px solid #B0C5CE;
    border-radius: 2px;
    z-index: 90;
    overflow-x: scroll;
}

.timeline-viz {
    width: 250%;
    height: auto;
}

.timeline-legend {
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 0.6rem;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
}
.timeline-legend-title {
    font-weight: 600;
}
.timeline-legend-subtitle {
    font-size: 0.5rem;
}
.timeline-line {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.line-dashed {
    stroke-dasharray: 4.6, 4.6;
}
.timeline-base-dots {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.timeline-dots {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
    pointer-events: none;
}
.element-grayed {
    opacity: 0.2;
}
.dots-det {
    fill: #B6EA78;
    fill: url(#detGradient);
    stroke: #000000;
    stroke: url(#detStrokeGradient);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.dots-leg {
    fill: #90BCCC;
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.dots-soc,.dots-leg {
    fill: #90BCCC;
    stroke: #000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.dots-det.det-closing {
    fill: #B6EA78;
    fill: url(#detGradientBackwards);
    stroke: #000000;
    stroke: url(#detStrokeGradientBackwards);
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.timeline-text {
    opacity: 0.2;
    -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
}

.timeline-text.text-highlighted {
    opacity: 1;
}
#timeline .interaction-note {
    position: relative;
    top: 64px;
}


/* 1.2 mosaic plot and sankey */

#sankey .nodes rect {
    stroke: none;
    cursor: pointer;
}

#sankey .nodes text {}

#sankey .links path {
    fill: none;
    opacity: .3;
    cursor: pointer;
}

#sankey .links path:hover {
    opacity: .6 !important;
}

/* 1.3 bubblechart - purpose of institutions */

#bubblechart {
    border-top: 1px solid #CFB76D;
    border: 1px solid #CFB76D;
    background: rgba(207, 183, 109, 0.05);
    border-radius: 2px;
}

#bubblechart circle.node,
#bubblechart .item circle {
    stroke: #074050;
    stroke-width: .5px;
    cursor: pointer;
}

#bubblechart .legend g:first-child {
    font-weight: 600;
}

#bubblechart .legend g .label {
    pointer-events: all;
}

#bubblechart .year.selected {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
}

#bubblechart .legend g:first-child circle {
    display: none;
}

/* 1.4 typologies network of correlations */
#typologies-graph circle.node {
    stroke-width: .5px;
    cursor: pointer;
}

#typologies-graph line.link {
    stroke: #EAE6DA;
    opacity: .8;
    cursor: pointer;
}

#typologies-graph .label {
    text-anchor: middle;
}

.legend-text {
    font-family: 'Brandon Grotesque', sans-serif;
}
.legend-text-label {
    font-size: 8px;
}
.legend-text-number {
    font-size: 7px;
}
.legend-line {
    fill: none;
    stroke: #EAE6DA;
    stroke-miterlimit: 10;
}
.legend-text-sublabel {
    font-size: 6px;
}
.legend-circle {
    stroke: #074050;
    stroke-width: .5;
}
.legend-edges {
    fill: none;
    stroke-miterlimit: 10;
}
.legend-rect {
    fill: none;
    stroke: #333333;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}
.legend-title {
    font-size: 8px;
    font-weight: 600;
}

/* STYLES CHAPTER 2 */

/* container styles */

#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step {
    margin-bottom: 160px;
}

.step:last-of-type {
    height: 60vh;
    margin-bottom: 0;
}

#maps {
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    width: 100%;
    height: 60vh;
}

.btn-container {
    position: relative;
    height: 22px;
}
.year-title {
    font-size: .75rem;
}
.btn-year {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-size: .75rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-year::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    border-bottom: 1px solid #000000;
    bottom: 3px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.active-year {
    font-size: .85rem;
    font-weight: 600;
}
.active-year::after {
    opacity: 0;
}

.year-switch {
    cursor: pointer;
    line-height: 1.1;
    padding-left: 3px;
}

/* swiss map styles */

.swiss-contour {
    fill: none;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
}

.canton-contour {
    fill: #FFFFFF;
    shape-rendering: geometricPrecision;
    stroke: #999999;
    stroke-width: .5px;
}

/* map_all_institutions styles */

.dot {
    fill: #333333;
    stroke-width: 0.5px;
    stroke: #000;
    cursor: pointer;
}
.dot-small {
    fill: #333333;
    cursor: pointer;
}

.item-text {
    font-size: .65rem;
}





/* map_typologies styles */

.maps-container {
    position: absolute;
    pointer-events: none;
}

.maps-label {
    font-size: .65rem;
    cursor: pointer;
}

.map-background {
    fill: none;
}



/* STYLES CHAPTER 3 */


/* matrix */

#matrix .row {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 0.8em;
}

.select-container {
    margin: 0;
}

.select-container select {
    cursor: pointer;
}

#matrix text {
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: .65rem;
}

.axis-x text {
    text-anchor: end;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    stroke-dasharray: 8;
}

.grid path {
    stroke-width: 0;
}

.bubble {
    stroke: rgba(0,0,0,.4);
    stroke-width: 1px;
    fill: #CFB76D;
}


/* STYLES CHAPTER 4 */

.diagram-container {
    overflow-x: scroll;
}
.svg-diagram {
    width: 230%;
}

/* typologies network of correlations */

#circular-network .node {
    stroke-width: .5px;
    cursor: pointer;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}


#circular-network .link {
    fill: none;
    opacity: .5;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#circular-network .label {
    text-anchor: middle;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#circular-network .btn-container {
    margin-bottom: -1.4rem;
}

#circular-network .sidenote {
    margin-bottom: -6rem;
}

#network .legend-circle {
    fill: #FCFBFA;
    stroke: #333333;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

#network .legend-circle-filled {
    fill: #B5BA72;
}

#accepting-institutions .canton-contour {
    shape-rendering: geometricPrecision;
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: fill 0.5s ease, opacity 0.5s ease;
    transition: fill 0.5s ease, opacity 0.5s ease;
}

#accepting-institutions .canton-contour.faded {
    opacity: .5;
}

#accepting-institutions .label.faded {
    opacity: .35;
}

#accepting-institutions .node {
    fill: #333;
}

#accepting-institutions .nodeLabel {
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    font-size: .65rem;
    font-weight: 600;
}

.selected-canton {
    top: -3px;
}

/* CREDITS */
#credits {
    background-color: #212529;
}

#credits h3,
#credits p {
    color: #FCFBFA;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.2rem;
    }
    .initial-loader div {
        width: 20vw;
    }
    .initial-loader svg {
        width: 20vw;
    }

    .initial-loader p {
        width: 20vw;
    }
    #timeline {
        overflow-x: inherit;
    }
    .timeline-viz {
        width: 100%;
        height: auto;
    }
    .timeline-dots {
        pointer-events: auto;
    }
    .diagram-container {
        overflow-x: inherit;
    }
    .svg-diagram {
        width: 100%;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 2.5rem;
    }
    .sidepanel-button {
        width: 70%;
    }
    #maps {
        height: 84vh;
    }
    .step:last-of-type {
        height: 80vh;
    }
}
