/* General for all viz */

.label {
	font-size: .65rem;
	pointer-events: none;
	opacity: 1;
	fill: #333;
}

.label.hidden {
	opacity: 0;
}

/* 1.3 bubblechart - purpose of institutions */
#bubblechart svg {
}

#bubblechart circle.node {
	stroke: #074050;
	stroke-width: .5px;
	cursor: pointer;
}


/* STYLES CHAPTER 2 */

/* container styles */
#institutions-maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.step {
    margin-bottom: 200px;
}
.step:last-of-type {
    height: 84vh;
    margin-bottom: 0;
}
#maps {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
    width: 100%;
    height: 84vh;
}
/* swiss map styles */
.swiss-contour {
    fill: none;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
    opacity: 0.5;
}
.canton-contour {
    fill: none;
    stroke: #999999;
    stroke-width: .5px;
    pointer-events: none;
    opacity: 0.5;
}
/* all_institutions styles */
.dot {
	fill: black;
	stroke-width: 0.5px;
	stroke: #ffffff;
}
