
@font-face {
    font-family:"Brandon Grotesque";
    src:url("Brandon_med.woff2") format("woff2"),url("Brandon_med.woff") format("woff"),url("Brandon_med.otf") format("opentype");
    font-style:normal;font-weight:500;
}
        