
@font-face {
    font-family:"Brandon Grotesque";
    src:url("Brandon_light_it.woff2") format("woff2"),url("Brandon_light_it.woff") format("woff"),url("Brandon_light_it.otf") format("opentype");
    font-style:italic;font-weight:300;
}
        