
@font-face {
    font-family:"Brandon Grotesque";
    src:url("Brandon_reg.woff2") format("woff2"),url("Brandon_reg.woff") format("woff"),url("Brandon_reg.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        