
@font-face {
    font-family:"Brandon Grotesque";
    src:url("Brandon_thin.woff2") format("woff2"),url("Brandon_thin.woff") format("woff"),url("Brandon_thin.otf") format("opentype");
    font-style:normal;font-weight:200;
}
        